::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
	background-color: white;
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
    border-radius: 1px;
}
 
::-webkit-scrollbar-thumb {
	background-color: #076392;
	opacity: 0.2;
    border-radius: 2px;
/*    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
}

body{
    
}

.header{
    margin:10px auto;
    border-bottom: 1px solid lightgrey;
}

.clogo{
    margin: 10px auto;
    height: 70px;
    border-radius: 5px;
}

h1.heading{
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 2.1em;
    color: grey;
    font-weight: 400;
}

.cname{
    color: grey;
}

.cname:hover{
    color: #076392;
    transition: 300ms;
}

.heading small{
    font-weight: 400;
    color: darkslategray;
}


#mynav{
    height: 48px;
}

#mynav .nav-wrapper{
    background: #076392;
    
    border-bottom: 5px solid #333333;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

#mynav .hide-on-med-and-down{
    margin: 0 auto;
    width: 77.5%;
    text-align: center;
}

#mynav .hide-on-med-and-down a{
    margin: auto;
    font-size: 1rem;
    line-height: 3;
    text-align: center;
    box-shadow:  0 1px 1px 0 rgba(0, 0, 0, 0.12);
    transition: 300ms;
}

#mynav .hide-on-med-and-down a:hover{
    background: #333333;
    color: white;
    
}

@media only screen and (min-width : 993px) {

    #mynav .hide-on-med-and-down li{
        width: 14.2857%;
    }

}

@media only screen and (max-width : 400px) {

    .hide-on-med-and-down ul a{
        width: 100px;
    }
    
    .side-nav{
        text-align: left;
    width: 250px;
}

.side-nav ul li{
    width: 100%;
}

.side-nav ul a{
    margin: auto;
    font-size: 1.1rem;
    line-height: 5;
    text-align: left;
}

}

.dropdown-content {
    min-width: 200px;
}

.dropdown-content li {
    min-width: 200px;
    height: 50px;
    width: 100%;
    text-align: center; 
}

.dropdown-content li > a, .dropdown-content li > span {
    font-size: 0.9rem;
    color: #333333;
    line-height: 2.5;
    height: 50px;
    width: 100%;
    padding: 6px;
 }

.image-slider{
    padding: 0px;
}

.slider .indicators .indicator-item.active {
    background-color: #076392; 
}

.slider .indicators .indicator-item{
    margin: 35 auto;
    height: 5px;
    width: 25%;
    border-radius: 0px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.16), 0 3px 5px 0 rgba(0, 0, 0, 0.12);
}

.quote{
    margin-top: 20px;
    margin-bottom: 60px;
    height: 70px;
    text-align: center;
}

.quote h5{
    letter-spacing: 0.25;
    word-spacing: 0.75;
}

.quote h6{
    padding-right: 20px;
    text-align: right;
    font-size: 1.25em;
}

.about{
    padding-bottom: 30px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.about h4{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 2px;
    border-bottom: 1px solid lightgrey;
}

.info{
    word-spacing: 1.5px;
}

.about_counsel{
    margin-top: 50px;
}

.books{
    margin-left: 20%;
    height: 250px;
    width: 250px;
}

.counsel-img{
    margin-top: 30px;
    height: 220px;
    width: 280px;
}   

.quick_links{
    margin-top: 70px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.quick_links span{
    margin-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.link{
    text-align: center;
    margin-bottom: 30px;
}

.link h5{
    font-size: 1.25em;
}

.link a{
    color: dimgray;
    font-weight: 500;
}


.link a:hover{
    color: #076392;
    transition: 300ms;
}

.link_img{
    height: 20;
    width: auto;
}

.modal-content h4{
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

.input-field .prefix.active {
  color: #076392;
}

.input-field input[type=text]:focus + label,.input-field input[type=email]:focus + label ,.input-field input[type=tel]:focus + label{
     color: #076392;
}

/* label underline focus color */

.input-field input[type=text]:focus,.input-field input[type=email]:focus,.input-field input[type=tel]:focus{
     border-bottom: 1px solid #076392;
     box-shadow: 0 1px 0 0 #076392;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #076392;
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #076392;
  box-shadow: 0 1px 0 0 #076392;
}

.btn{
    background-color: #076392;
}

.btn:active{
    background-color: #EEEEEE;
}

.btn:hover{
    color: #076392;
    background-color: #fff;
    transition: 300ms;
}



.teaminfo{
    padding-bottom: 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.teaminfo h3 span{
    margin-top: 50px;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

footer.page-footer{
    background-color: #076392;
}

div.container{
   width: 90%; 
}

.page-footer li{
    line-height: 2;
    font-size: 0.9em;
}

.fa-facebook{
    margin: 0 auto;
    font-size: 2.5em;
    font-weight: 800;
    color: lightgrey;
    line-height: 3.5;
    text-align: center;
}

.fa:hover{
    cursor: pointer;
}

/****************************************/
/************Team section****************/

.teaminfo{
    text-align: center;
}

.teaminfo h4{
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 1.75em;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}

@media only screen and (min-width: 993px) {

    .team .col.offset{
        margin-left: 37.25%;
    }
    
    .team .col.offset-custom{
        margin-left: 4.16667%;
    }
    
}

.card.small{
    height: 220px;
}

.card.small .card-image{
    max-height: 100%;
    height: 170px;
}

.card.small .card-image img{
    max-height: 100%;
    height: 150px;
}

.card.small .card-content{
    margin-top: -20;
    padding-top: 0;
    height: 70px;
    line-height: 0.25;
}

.card.small .card-title{
    font-size: 1.25em;
}

.card.small a{
    font-size: 1.1em;
    font-weight: 400;
    color: gray;
}

.fa-times{
    float: right;
}

.collapsible-header{
    font-size: 1.2em;
}

.collapsible-body{
    overflow-x: scroll;
}

table{
    font-size: 0.9em;
}

table thead th{
    font-size: 1.1em;
    text-align: center;
}

th:nth-child(1),td:nth-child(1){
    width: 8%;
    text-align: center;
    font-weight: 500;
}

th:nth-child(2),td:nth-child(2){
    width: 34%;
}

th:nth-child(3),td:nth-child(3){
    width: 8%;
    text-align: center;
}

th:nth-child(4),td:nth-child(4){
    width: 25%;
    text-align: center;
}

th:nth-child(5),td:nth-child(5){
    width: 25%;
    text-align: center;
}